body{
  background-color: #393E46;
  }
  .container{
  text-align: center;
  margin-top: 5%;
  }
  h1{
      color: #4ECCA3;
      font-size: 6rem;
      margin: 4%;
  }
  p{
      color: #4ECCA3;
      font-size: 2rem;
  }
  .dicee{
      text-align: center;
      display: inline-block;
  }
  img{
      width: 80%;
  }
  footer{
      color: white;
      font-size: 1rem;
      text-align: center;
      margin-top: 5%;
  }
  button{
      background-color: rgba(255, 0, 0, 0.562);
      padding: 15px 12px;
      margin: 20px;
      border: none;
      color: white;
      font-size: 1.3rem;
      border-radius: 20px;
      width: 180px;
  }
button:active{
    filter: brightness(60%);
}